@model haver.Models.GanttData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GanttData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Machine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Machine.ProductionOrderNumber)
        </dd>
        <dt class="col-sm-2">
            Order Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Machine.SalesOrder.OrderNumber)
        </dd>
        <dt class="col-sm-2">
            Customer
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Machine.SalesOrder.CompanyName)
        </dd>
        <dt class="col-sm-2">
            Approval Drawings Received
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppDRcd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngExpected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngExpected)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngReleased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngReleased)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerApproval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerApproval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageReleased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageReleased)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrdersIssued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrdersIssued)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrdersCompleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrdersCompleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierPODue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierPODue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssemblyStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssemblyStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssemblyComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssemblyComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipExpected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipExpected)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryExpected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryExpected)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
