@model IEnumerable<haver.Models.GanttData>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn">Create New</a>
</p>

<table class="table table-striped table-bordered table-hover shadow-sm">
    <thead class="bg-dark text-white text-center">
        <tr>
            <th data-bs-toggle="tooltip" title="Order Number assigned to the sale">Order Number</th>
            <th data-bs-toggle="tooltip" title="Customer associated with the order">Customer</th>
            <th data-bs-toggle="tooltip" title="Date when approval drawings were received">App Drw Rcd</th>
            <th data-bs-toggle="tooltip" title="Machine associated with the order">@Html.DisplayNameFor(model => model.Machine)</th>
            <th data-bs-toggle="tooltip" title="Engineering release date">Eng Rel</th>
            <th data-bs-toggle="tooltip" title="Date when purchase orders were issued">Pur order Iss</th>
            <th data-bs-toggle="tooltip" title="Expected shipping date">Readiness to Ship Exp</th>
            <th class="align-middle">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td tabindex="0">@Html.DisplayFor(modelItem => item.Machine.SalesOrder.OrderNumber)</td>
                <td tabindex="0">@Html.DisplayFor(modelItem => item.Machine.SalesOrder.CompanyName)</td>
                <td tabindex="0">@Html.DisplayFor(modelItem => item.AppDRcd)</td>
                <td tabindex="0">@Html.DisplayFor(modelItem => item.Machine.ProductionOrderNumber)</td>
                <td tabindex="0">@Html.DisplayFor(modelItem => item.EngReleased)</td>
                <td tabindex="0">@Html.DisplayFor(modelItem => item.PurchaseOrdersIssued)</td>
                <td tabindex="0">@Html.DisplayFor(modelItem => item.ShipExpected)</td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm mx-1"
                       aria-label="Edit order @item.Machine.SalesOrder.OrderNumber"
                       data-bs-toggle="tooltip" title="Edit Order">
                        <i class="fa-solid fa-pen-to-square"></i> 
                    </a>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm mx-1 text-white"
                       aria-label="View details of order @item.Machine.SalesOrder.OrderNumber"
                       data-bs-toggle="tooltip" title="View Details">
                        <i class="fa-solid fa-circle-info"></i> 
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm mx-1"
                       aria-label="Delete order @item.Machine.SalesOrder.OrderNumber"
                       data-bs-toggle="tooltip" title="Delete Order">
                        <i class="fa-solid fa-delete-left"></i> 
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
}

<style>
    .align-middle button {
        background: none;
        outline: none;
    }
</style>
