@model haver.Models.Note

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Notes</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scope)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scope)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssemblyHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssemblyHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReworkHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReworkHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamePlate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamePlate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineSchedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineSchedule.ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
