@model haver.Models.Note

<div class="container-fluid bg-light">
    <!-- Header -->
    <div class="row">
        <div class="col-md-12 py-4" style="background-color:#0C2340;">
            <h4 class="text-white" style="font-family: 'Avenir Heavy', sans-serif; font-size: 19px;">
                Note Details
            </h4>
        </div>
    </div>

    <!-- Details Content -->
    <div class="row py-4">
        <div class="col-md-8 offset-md-2">
            <div class="card border shadow-sm">
                <div class="card-body p-4">
                    <dl class="row mb-0">
                        <!-- PreOrder -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.PreOrder)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.Raw(Model.PreOrder)
                        </dd>

                        <!-- Scope -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.Scope)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.Raw(Model.Scope)
                        </dd>

                        <!-- Assembly Hours -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.AssemblyHours)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.AssemblyHours)
                        </dd>

                        <!-- Rework Hours -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.ReworkHours)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.ReworkHours)
                        </dd>

                        <!-- Budget Hours -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.BudgetHours)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.BudgetHours)
                        </dd>

                        <!-- Name Plate -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.NamePlate)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.NamePlate)
                        </dd>

                        <!-- Machine Schedule -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.MachineSchedule)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.MachineSchedule.Summary)
                        </dd>
                    </dl>
                </div>
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-primary mx-3"
                       style="background-color:#0C2340; border-color:#0C2340; font-family: 'Avenir Heavy', sans-serif;">
                        Edit
                    </a>
                </div>
            </div>

            <!-- Action Buttons -->
            <div class="mt-4 d-flex gap-3">

                <div style="font-family: 'Avenir Roman', sans-serif;">
                    <partial name="_BackToList" />
                </div>
            </div>
        </div>
    </div>
</div>