@model haver.Models.Note

<partial name="_ViewHeading" />

<div>
    <h4>Note</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PreOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.PreOrder)  <!-- Display raw HTML content -->
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Scope)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Scope)  <!-- Display raw HTML content -->
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssemblyHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.AssemblyHours)  <!-- Display raw HTML content -->
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReworkHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.ReworkHours)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.BudgetHours)  <!-- Display raw HTML content -->
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NamePlate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NamePlate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MachineSchedule)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MachineSchedule.Summary)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <partial name="_BackToList" />
</div>
