@model IEnumerable<haver.Models.Note>
<h1 class="text-center my-4" aria-label="Notes Index">Notes Index</h1>
<div class="d-flex justify-content-between align-items-center mb-3">
    <a asp-action="Create" class="btn btn-primary" aria-label="Create new note" data-bs-toggle="tooltip" title="Create a new note">
        <i class="fa-solid fa-plus"></i> Create New @ViewData["ControllerFriendlyName"]
    </a>
</div>

<form asp-action="index" method="get" aria-label="Notes index search form">
    <table class="table table-striped table-bordered table-hover shadow-sm" aria-label="List of notes">
        <thead class="thead-dark text-white bg-dark">
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.PreOrder)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Scope)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.NamePlate)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.MachineSchedule)</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.Raw(item.PreOrder)</td>
                    <td>@Html.Raw(item.Scope)</td>
                    <td>@Html.DisplayFor(modelItem => item.NamePlate)</td>
                    <td>@Html.DisplayFor(modelItem => item.MachineSchedule.Summary)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn" aria-label="Edit note @item.NamePlate" data-bs-toggle="tooltip" title="Edit note">
                            <i class="fa-solid fa-pen-to-square"></i> Edit
                        </a> |
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn" aria-label="View details of note @item.NamePlate" data-bs-toggle="tooltip" title="View details">
                            <i class="fa-solid fa-circle-info"></i> Details
                        </a> |
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn" aria-label="Delete note @item.NamePlate" data-bs-toggle="tooltip" title="Delete note">
                            <i class="fa-solid fa-delete-left"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>

@section Scripts {
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
}
