@model IEnumerable<haver.Models.Note>

<partial name="_ViewHeading" />

<p>
    <a asp-action="Create">Create New @ViewData["ControllerFriendlyName"]</a>
</p>

<table class="table table-striped table-bordered table-hover shadow-sm">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.PreOrder)</th>
            <th>@Html.DisplayNameFor(model => model.Scope)</th>
            <th>@Html.DisplayNameFor(model => model.AssemblyHours)</th>
            <th>@Html.DisplayNameFor(model => model.ReworkHours)</th>
            <th>@Html.DisplayNameFor(model => model.BudgetHours)</th>
            <th>@Html.DisplayNameFor(model => model.NamePlate)</th>
            <th>@Html.DisplayNameFor(model => model.MachineSchedule)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.PreOrder)</td>
                <td>@Html.DisplayFor(modelItem => item.Scope)</td>
                <td>@Html.DisplayFor(modelItem => item.AssemblyHours)</td>
                <td>@Html.DisplayFor(modelItem => item.ReworkHours)</td>
                <td>@Html.DisplayFor(modelItem => item.BudgetHours)</td>
                <td>@Html.DisplayFor(modelItem => item.NamePlate)</td>
                <td>@Html.DisplayFor(modelItem => item.MachineSchedule.ID)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn ">
                        <i class="fa-solid fa-pen-to-square"></i> Edit
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn">  <i class="fa-solid fa-circle-info"></i> Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn"> <i class="fa-solid fa-delete-left"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
