@model haver.Models.PackageRelease

<partial name="_ViewHeading" />

<div class="container-fluid bg-light my-3">
    <div class="row">
        <!-- Header -->
        <div class="col-md-12 py-4" style="background-color:#0C2340;">
            <h4 class="text-white" style="font-family: 'Avenir Heavy', sans-serif; font-size: 19px;">
                PackageRelease Details
            </h4>
        </div>

        <!-- Details Content -->
        <div class="row py-4">
            <div class="col-md-8 offset-md-2">
                <div class="card border shadow-sm">
                    <div class="card-body p-4">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

                        <dl class="row mb-0">
                            <!-- Name -->
                            <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <!-- PReleaseDateP -->
                            <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                                @Html.DisplayNameFor(model => model.PReleaseDateP)
                            </dt>
                            <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                                @Html.DisplayFor(model => model.PReleaseDateP)
                            </dd>

                            <!-- PReleaseDateA -->
                            <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                                @Html.DisplayNameFor(model => model.PReleaseDateA)
                            </dt>
                            <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                                @Html.DisplayFor(model => model.PReleaseDateA)
                            </dd>

                            <!-- Notes -->
                            <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                                @Html.DisplayNameFor(model => model.Notes)
                            </dt>
                            <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                                @Html.Raw(Model.Notes)
                            </dd>

                            <!-- Machine Schedule -->
                            <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                                @Html.DisplayNameFor(model => model.MachineSchedule)
                            </dt>
                            <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                                @Html.DisplayFor(model => model.MachineSchedule.Summary)
                            </dd>
                        </dl>
                        <form asp-action="Delete" class="d-inline">
                            <input type="hidden" asp-for="ID" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>

               
                  
                    <div class="mt-4 d-flex gap-3">
                        <div style="font-family: 'Avenir Roman', sans-serif;">
                            <partial name="_BackToList" />
                        </div>
                    </div>
               
            </div>
        </div>
    </div>
</div>