 @model haver.Models.Machine

    <div class="modal fade" id="addMachineModal" tabindex="-1" aria-labelledby="addMachineModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addMachineModalLabel">Add New Machine</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form  id="createMachineForm" asp-action="CreateFromModal" asp-controller="Machine" method="post">
                         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @* <input type="hidden" id="SalesOrderID" name="SalesOrderID" /> *@
                    <ul id="ErrorList" class="text-danger"></ul>

                        <h6 class="mb-4" style="color: #0C2340;"><b>Fields marked with <span class="text-danger">*</span> are required</b></h6>
                        <!-- First Row -->
                        <div class="row">
                            <!-- Machine Type -->
                            <div class="form-group col-md-4 mb-3">
                                <label asp-for="MachineTypeID" class="control-label" style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                                    <span class="text-danger">*</span> @Html.DisplayNameFor(model => model.MachineTypeID)
                                    <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Associated sales order"></i>
                                </label>
                                <select asp-for="MachineTypeID" class="form-control"
                                        style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;"
                                        asp-items="ViewBag.MachineTypeID"></select>
                                <span asp-validation-for="MachineTypeID" class="text-danger d-block mt-1"></span>
                           
                            </div>



                        <!-- Sales Order -->
                        <div class="form-group col-md-4 mb-3">
                            <label asp-for="SalesOrderID" class="control-label" style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                                <span class="text-danger">*</span> @Html.DisplayNameFor(model => model.SalesOrderID)
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Associated sales order"></i>
                            </label>
                            <div class="readonly-dropdown">
                            <select asp-for="SalesOrderID" class="form-control"
                                    style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;"
                                    asp-items="ViewBag.SalesOrderID">
                                <option value="" disabled selected>Select Sales Order</option>
                            </select>
                            </div>
                            <span asp-validation-for="SalesOrderID" class="text-danger d-block mt-1"></span>
                        </div>

                        <!-- Serial Number -->
                        <div class="form-group col-md-4 mb-3">
                            <label asp-for="SerialNumber" class="control-label" style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                                <span class="text-danger">*</span> @Html.DisplayNameFor(model => model.SerialNumber)
                            </label>
                            <input asp-for="SerialNumber" class="form-control" placeholder="Enter Serial Number"
                                   style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;" />
                            <span asp-validation-for="SerialNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Second Row -->
                    <div class="row">
                        <!-- Production Order -->
                        <div class="form-group col-md-4 mb-3">
                            <label asp-for="ProductionOrderNumber" class="control-label" style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                                <span class="text-danger">*</span> @Html.DisplayNameFor(model => model.ProductionOrderNumber)
                            </label>
                            <input asp-for="ProductionOrderNumber" class="form-control" placeholder="Enter Production Order Number"
                                   style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;" />
                            <span asp-validation-for="ProductionOrderNumber" class="text-danger"></span>
                        </div>

                        <!-- RToShipExp -->
                        <div class="form-group col-md-4 mb-3">
                            <label asp-for="RToShipExp" class="control-label" style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                                <span class="text-danger">*</span> @Html.DisplayNameFor(model => model.RToShipExp)
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Expected shipping date"></i>
                            </label>
                            <input asp-for="RToShipExp" class="form-control"
                                   style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;" />
                            <span asp-validation-for="RToShipExp" class="text-danger"></span>
                        </div>


                        <!-- RToShipA -->
                        <div class="form-group col-md-4 mb-3">
                            <label asp-for="RToShipA" class="control-label" style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                                @Html.DisplayNameFor(model => model.RToShipA)
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Actual shipping date"></i>
                            </label>
                            <input asp-for="RToShipA" class="form-control"
                                   style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;" />
                            <span asp-validation-for="RToShipA" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="row">
                        <!-- Nameplate -->
                        <div class="form-group col-md-4 mb-4">
                            <label asp-for="Nameplate" class="control-label" style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                                @Html.DisplayNameFor(model => model.Nameplate)
                            </label>
                            <select asp-for="Nameplate" class="form-control"
                                    style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;"
                                    asp-items="Html.GetEnumSelectList<NamePlate>()"></select>
                            <span asp-validation-for="Nameplate" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4 mb-3">
                            <label asp-for="AssemblyExp" class="control-label" style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                                @Html.DisplayNameFor(model => model.AssemblyExp)
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Assembly Expected Date"></i>
                            </label>
                            <input asp-for="AssemblyExp" class="form-control"
                                   style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;" />
                            <span asp-validation-for="AssemblyExp" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4 mb-3">
                            <label asp-for="AssemblyStart" class="control-label" style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                                @Html.DisplayNameFor(model => model.AssemblyStart)
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Assembly Start Date"></i>
                            </label>
                            <input asp-for="AssemblyStart" class="form-control"
                                   style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;" />
                            <span asp-validation-for="AssemblyStart" class="text-danger"></span>
                        </div>
                    </div>
                   

                    <!-- Third Row -->
                    <div class="row">
                        <div class="form-group col-md-4 mb-3">
                            <label asp-for="AssemblyComplete" class="control-label" style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                                @Html.DisplayNameFor(model => model.AssemblyComplete)
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Assembly Completed Date"></i>
                            </label>
                            <input asp-for="AssemblyComplete" class="form-control"
                                   style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;" />
                            <span asp-validation-for="AssemblyComplete" class="text-danger"></span>
                        </div>
                        <!-- Budgeted Hours -->
                        <div class="form-group col-md-4 mb-3">
                            <label asp-for="BudgetedHours" class="control-label" style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                                @Html.DisplayNameFor(model => model.BudgetedHours)
                            </label>
                            <input asp-for="BudgetedHours" class="form-control" placeholder="Enter Budgeted Hours"
                                   style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;" />
                            <span asp-validation-for="BudgetedHours" class="text-danger"></span>
                        </div>
                        <!-- Actual Hours -->
                        <div class="form-group col-md-4 mb-3">
                            <label asp-for="ActualAssemblyHours" class="control-label" style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                                @Html.DisplayNameFor(model => model.ActualAssemblyHours)
                            </label>
                            <input asp-for="ActualAssemblyHours" class="form-control" placeholder="Enter Actual Hours"
                                   style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;" />
                            <span asp-validation-for="ActualAssemblyHours" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Third Row -->
                    <div class="row">
                        <!-- Rework Hours -->
                        <div class="form-group col-md-4 mb-3">
                            <label asp-for="ReworkHours" class="control-label" style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                                @Html.DisplayNameFor(model => model.ReworkHours)
                            </label>
                            <input asp-for="ReworkHours" class="form-control" placeholder="Enter Rework Hours"
                                   style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;" />
                            <span asp-validation-for="ReworkHours" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <!-- PreOrder -->
                        <div class="form-group col-md-6 mb-4">
                            <label asp-for="PreOrder" class="control-label" style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                                @Html.DisplayNameFor(model => model.PreOrder)
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Pre-orders specifications"></i>
                            </label>
                            <textarea asp-for="PreOrder" class="form-control summernote"
                                      style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;"></textarea>
                            <span asp-validation-for="PreOrder" class="text-danger"></span>
                        </div>

                        <!-- Scope -->
                        <div class="form-group col-md-6 mb-4">
                            <label asp-for="Scope" class="control-label" style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                                @Html.DisplayNameFor(model => model.Scope)
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Scope details"></i>
                            </label>
                            <textarea asp-for="Scope" class="form-control summernote"
                                      style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;"></textarea>
                            <span asp-validation-for="Scope" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" id="submitMachineCreate" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .readonly-dropdown {
        position: relative;
    }

        .readonly-dropdown::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            cursor: not-allowed;
        }

</style>
