@model haver.Models.SalesOrder

<partial name="_ViewHeading" />
<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingTerms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingTerms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppDwgRcd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppDwgRcd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DwgIsDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DwgIsDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendor.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineSchedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineSchedule.ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <partial name="_BackToList" />
    </form>
</div>
