@model haver.Models.SalesOrder

<partial name="_ViewHeading" />

<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingTerms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingTerms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppDwgRcd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppDwgRcd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DwgIsDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DwgIsDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SalesOrderEngineers)
            </dt>
            <dd class="col-sm-10">
                @{
                    int specCount = Model.SalesOrderEngineers.Count;
                    if (specCount > 0)
                    {
                        string firstSpec = Model.SalesOrderEngineers.FirstOrDefault().Engineer.EngineerInitials;
                        if (specCount > 1)
                        {
                            string specList = "";//Html string of specialty names separated by <br /> tags
                            var s = Model.SalesOrderEngineers.ToList();
                            for (int i = 1; i < specCount; i++)//Skip the first because we have it already
                            {
                                specList += s[i].Engineer.EngineerInitials + " <br />";
                            }
                            <a class="" role="button" data-bs-toggle="collapse" href="#collapseSpecalty@(Model.ID)"
                               aria-expanded="false" aria-controls="collapseSpecalty@(Model.ID)">
                                @firstSpec <span class="badge bg-info">@specCount</span>
                            </a>
                            <div class="collapse" id="collapseSpecalty@(Model.ID)">
                                @Html.Raw(specList)
                            </div>
                        }
                        else
                        {
                            @firstSpec
                        }
                    }
                }
            </dd>
        </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <partial name="_BackToList" />
    </form>
</div>
