@model haver.Models.SalesOrder

<h1>Sales Order details</h1>
    <hr />
    <div class="info-container">
        <div class="info-box">
            <dl class="row">
        <dt class = "col-md-3">
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd class = "col-md-3">
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt class = "col-md-3">
            @Html.DisplayNameFor(model => model.SoDate)
        </dt>
        <dd class = "col-md-3">
            @Html.DisplayFor(model => model.SoDate)
        </dd>
        <dt class = "col-md-3">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-md-3">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-md-3">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class="col-md-3">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-md-3">
            @Html.DisplayNameFor(model => model.ShippingTerms)
        </dt>
        <dd class = "col-md-3">
            @Html.DisplayFor(model => model.ShippingTerms)
        </dd>
        <dt class = "col-md-3">
            @Html.DisplayNameFor(model => model.AppDwgExp)
        </dt>
        <dd class = "col-md-3">
            @Html.DisplayFor(model => model.AppDwgExp)
        </dd>
        <dt class = "col-md-3">
            @Html.DisplayNameFor(model => model.AppDwgRel)
        </dt>
        <dd class = "col-md-3">
            @Html.DisplayFor(model => model.AppDwgRel)
        </dd>
        <dt class = "col-md-3">
            @Html.DisplayNameFor(model => model.AppDwgRet)
        </dt>
        <dd class = "col-md-3">
            @Html.DisplayFor(model => model.AppDwgRet)
        </dd>
        <dt class = "col-md-3">
            @Html.DisplayNameFor(model => model.PreOExp)
        </dt>
        <dd class = "col-md-3">
            @Html.DisplayFor(model => model.PreOExp)
        </dd>
        <dt class = "col-md-3">
            @Html.DisplayNameFor(model => model.PreORel)
        </dt>
        <dd class = "col-md-3">
            @Html.DisplayFor(model => model.PreORel)
        </dd>
        <dt class = "col-md-3">
            @Html.DisplayNameFor(model => model.EngPExp)
        </dt>
        <dd class = "col-md-3">
            @Html.DisplayFor(model => model.EngPExp)
        </dd>
        <dt class = "col-md-3">
            @Html.DisplayNameFor(model => model.EngPRel)
        </dt>
        <dd class = "col-md-3">
            @Html.DisplayFor(model => model.EngPRel)
        </dd>
        <dt class = "col-md-3">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-md-3">
            @Html.DisplayFor(model => model.Customer.CompanyName)
        </dd>
        <dt class = "col-md-3">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-md-3">
            @Html.Raw(Model.Comments)
        </dd>
        </dl>
        </div>

    <div class="info-box">
        <dl class="row">
        <dt class="col-md-3">@Html.DisplayNameFor(model => model.SalesOrderEngineers)</dt>
        <dd class="col-md-3">
            @{
                int specCount = Model.SalesOrderEngineers.Count;
                if (specCount > 0)
                {
                    string firstSpec = Model.SalesOrderEngineers.FirstOrDefault().Engineer.EngineerInitials;
                    if (specCount > 1)
                    {
                        string specList = "";
                        var s = Model.SalesOrderEngineers.ToList();
                        for (int i = 1; i < specCount; i++)
                        {
                            specList += s[i].Engineer.EngineerInitials + " <br />";
                        }
                        <a class="engineer-list" role="button" data-bs-toggle="collapse" href="#collapseSpecalty@(Model.ID)"
                           aria-expanded="false" aria-controls="collapseSpecalty@(Model.ID)">
                            @firstSpec <span class="badge bg-info">@specCount</span>
                        </a>
                        <div class="collapse" id="collapseSpecalty@(Model.ID)">
                            @Html.Raw(specList)
                        </div>
                    }
                    else
                    {
                        @firstSpec
                    }
                }
                else
                {
                    <span class="text-muted">None assigned to this Sales Order</span>
                }
            }
        </dd>

    </dl>
    </div>
    <div>
        <h4 class="section-header">Machines and Procurement Information</h4>
        <table class="table procurement-table">
            <thead>
                <tr>
                    <th>Machine Description</th>
                    <th>Vendor</th>
                    <th>PO Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var machine in Model.Machines) 
                {
                    @if (machine.Procurements.Any()) 
                    {
                        bool firstRow = true; 

                        foreach (var procurement in machine.Procurements)
                        {
                            <tr>
                                @if (firstRow) 
                                {
                                    <td rowspan="@machine.Procurements.Count">
                                        <a asp-controller="MachineProcurement" asp-action="Index"
                                           asp-route-id="@machine.ID">   @Html.DisplayFor(m => machine.SerialNumber)</a>
                                    </td>
                                    firstRow = false;
                                }

                                <td>@Html.DisplayFor(m => procurement.Vendor.Name)</td>
                                <td>@Html.DisplayFor(m => procurement.PONumber)</td>
                            
                            </tr>
                        }
                    }
                    else 
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => machine.SerialNumber)</td>
                            <td colspan="5" class="text-center">No Procurement Details</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
