@model haver.Models.Machine

<div class="container-fluid bg-light">
    <!-- Header -->
    <div class="row">
        <div class="col-md-12 py-4" style="background-color:#0C2340;">
            <h4 class="text-white avenir-heavy" style="font-size: 19px;">
                Add A New Machine
            </h4>
        </div>
    </div>

    <!-- Centered Form -->
    <div class="row py-4">
        <div class="col-md-9 offset-md-2">
            <form asp-action="Create" class="border p-4 shadow-sm" aria-label="Create Machine Information">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <!-- Left Column -->
                    <div class="col-md-4">
                        <!-- Description -->
                        <div class="form-group mb-3">
                            <label asp-for="Description" class="control-label avenir-roman brand-color">
                                Description of machine
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Enter the Machine's Description'"></i>
                            </label>
                            <input asp-for="Description" class="form-control avenir-roman brand-border" tabindex="1" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <!-- Production Order Number -->
                        <div class="form-group mb-3">
                            <label asp-for="ProductionOrderNumber" class="control-label avenir-roman brand-color">
                                Production Order Number
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Enter the production order number"></i>
                            </label>
                            <input asp-for="ProductionOrderNumber" class="form-control avenir-roman brand-border" tabindex="2" />
                            <span asp-validation-for="ProductionOrderNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <!-- Serial Number -->
                        <div class="form-group mb-3">
                            <label asp-for="SerialNumber" class="control-label avenir-roman brand-color">
                                Serial Number
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Enter the machine's serial number"></i>
                            </label>
                            <input asp-for="SerialNumber" class="form-control avenir-roman brand-border" tabindex="3" />
                            <span asp-validation-for="SerialNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Quantity -->
                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <label asp-for="Quantity" class="control-label avenir-roman brand-color">
                                Quantity
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Enter the quantity of machines"></i>
                            </label>
                            <input asp-for="Quantity" class="form-control avenir-roman brand-border" tabindex="4" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Size -->
                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <label asp-for="Size" class="control-label avenir-roman brand-color">
                                Size
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Specify the machine size"></i>
                            </label>
                            <input asp-for="Size" class="form-control avenir-roman brand-border" tabindex="5" />
                            <span asp-validation-for="Size" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Class -->
                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <label asp-for="Class" class="control-label avenir-roman brand-color">
                                Class
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Enter the machine class"></i>
                            </label>
                            <input asp-for="Class" class="form-control avenir-roman brand-border" tabindex="6" />
                            <span asp-validation-for="Class" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Size Deck -->
                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <label asp-for="SizeDeck" class="control-label avenir-roman brand-color">
                                Deck Size
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Enter the deck size"></i>
                            </label>
                            <input asp-for="SizeDeck" class="form-control avenir-roman brand-border" tabindex="7" />
                            <span asp-validation-for="SizeDeck" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Sales Order -->
                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <label asp-for="SalesOrderID" class="control-label avenir-roman brand-color">
                                Sales Order
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Select the sales order this machine is linked too"></i>
                            </label>
                            <select asp-for="SalesOrderID" class="form-control avenir-roman brand-border" tabindex="8"
                                    asp-items="ViewBag.SalesOrderID">
                                <option value="">-- Select Sales Order --</option>
                            </select>
                            <span asp-validation-for="SalesOrderID" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Nameplate -->
                    <div class="col-md-4">
                        <div class="form-group mb-3">
                            <label asp-for="Nameplate" class="control-label avenir-roman brand-color">
                                Name Plate
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Select the nameplate type"></i>
                            </label>
                            <select asp-for="Nameplate" class="form-control avenir-roman brand-border" tabindex="9"
                                    asp-items="Html.GetEnumSelectList<NamePlate>()">
                            </select>
                            <span asp-validation-for="Nameplate" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <!-- Checkbox Section (on same row) -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" asp-for="Media" tabindex="10" />
                            <label class="form-check-label avenir-roman brand-color">
                                @Html.DisplayNameFor(m => m.Media)
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Check if media is included"></i>
                            </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" asp-for="SpareParts" tabindex="11" />
                            <label class="form-check-label avenir-roman brand-color">
                                @Html.DisplayNameFor(m => m.SpareParts)
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Check if spare parts are included"></i>
                            </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" asp-for="SparePMedia" tabindex="12" />
                            <label class="form-check-label avenir-roman brand-color">
                                @Html.DisplayNameFor(m => m.SparePMedia)
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Check if spare panel media is included"></i>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" asp-for="Base" tabindex="13" />
                            <label class="form-check-label avenir-roman brand-color">
                                @Html.DisplayNameFor(m => m.Base)
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Check if base is included"></i>
                            </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" asp-for="AirSeal" tabindex="14" />
                            <label class="form-check-label avenir-roman brand-color">
                                @Html.DisplayNameFor(m => m.AirSeal)
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Check if air seal is included"></i>
                            </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" asp-for="CoatingLining" tabindex="15" />
                            <label class="form-check-label avenir-roman brand-color">
                                @Html.DisplayNameFor(m => m.CoatingLining)
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Check if coating or lining is required"></i>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" asp-for="Disassembly" tabindex="16" />
                            <label class="form-check-label avenir-roman brand-color">
                                @Html.DisplayNameFor(m => m.Disassembly)
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Check if disassembly is required"></i>
                            </label>
                        </div>
                    </div>
                </div>


                <!-- Lower Section -->
                <div class="row">
                    <div class="col-md-4">
                        <!-- Budgeted Hours -->
                        <div class="form-group mb-3">
                            <label asp-for="BudgetedHours" class="control-label avenir-roman brand-color">
                                Budgeted Hours
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Enter the budgeted hours for assembly"></i>
                            </label>
                            <input asp-for="BudgetedHours" class="form-control avenir-roman brand-border" tabindex="17" />
                            <span asp-validation-for="BudgetedHours" class="text-danger"></span>
                        </div>
                        </div>

                    <div class="col-md-4">
                        <!-- Rework Hours -->
                        <div class="form-group mb-3">
                            <label asp-for="ReworkHours" class="control-label avenir-roman brand-color">
                                Rework Hours
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Enter the rework hours if applicable"></i>
                            </label>
                            <input asp-for="ReworkHours" class="form-control avenir-roman brand-border" tabindex="18" />
                            <span asp-validation-for="ReworkHours" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <!-- Actual Assembly Hours -->
                        <div class="form-group mb-3">
                            <label asp-for="ActualAssemblyHours" class="control-label avenir-roman brand-color">
                                Actual Assembly Hours
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Enter the actual hours spent on assembly"></i>
                            </label>
                            <input asp-for="ActualAssemblyHours" class="form-control avenir-roman brand-border" tabindex="19" />
                            <span asp-validation-for="ActualAssemblyHours" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <!-- Lower Section -->
                <div class="row">
                    <div class="col-md-6">
                        <!-- Budgeted Hours -->
                        <div class="form-group mb-3">
                            <label asp-for="PreOrder" class="control-label avenir-roman brand-color">
                                Pre-Order
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Enter pre-order details if applicable"></i>
                            </label>
                            <textarea asp-for="PreOrder" class="form-control summernote" tabindex="20" ></textarea>
                            <span asp-validation-for="PreOrder" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <!-- Actual Assembly Hours -->
                        <div class="form-group mb-3">
                            <label asp-for="Scope" class="control-label avenir-roman brand-color">
                                Scope
                                <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Describe the machine scope"></i>
                            </label>
                            <textarea asp-for="Scope" class="form-control summernote" tabindex="21" ></textarea>
                            <span asp-validation-for="Scope" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <!-- Submit Button -->
                <div class="form-group text-center">
                    <a href="@Url.Action("Index", "Machine")" class="btn btn-primary"
                       style="background-color:#0C2340; border-color:#0C2340; font-family: 'Avenir Heavy', sans-serif; width: 250px;">
                        ⬅ Back to Machine List
                    </a>
                    <button type="submit" class="btn btn-lg avenir-heavy" tabindex="22">Save</button>
                    <button type="button" id="btnQuickFill" class="btn btn-info"
                            style="background-color:#17a2b8; border-color:#17a2b8; font-family: 'Avenir Heavy', sans-serif;">
                        Quick Fill
                    </button>
                </div>

               
                </a>
            </form>
        </div>
    </div>
</div>

@section Head {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css" rel="stylesheet">
}


@section Scripts {
    <script>
        // Initialize tooltips
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>
    <!-- Summernote JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 150, // Set height for the editor
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']], // Text styles
                    ['font', ['color']], // Add color picker for text and background colors
                    ['para', ['ul', 'ol', 'paragraph']], // List and paragraph options
                    ['insert', ['link', 'picture', 'video']], // Insert options
                    ['view', ['fullscreen', 'codeview', 'help']] // View options
                ],
                colors: [
                    // Define a full range of colors
                    ['#000000', '#424242', '#636363', '#9C9C94', '#CEC6CE', '#EFEFEF', '#F7F7F7', '#FFFFFF'],
                    ['#FF0000', '#FF9C00', '#FFFF00', '#00FF00', '#00FFFF', '#0000FF', '#9C00FF', '#FF00FF'],
                    ['#F4CCCC', '#FCE5CD', '#FFF2CC', '#D9EAD3', '#D0E0E3', '#C9DAF8', '#CFE2F3', '#D9D2E9'],
                    ['#EA9999', '#F9CB9C', '#FFE599', '#B6D7A8', '#A2C4C9', '#A4C2F4', '#9FC5E8', '#B4A7D6'],
                    ['#E06666', '#F6B26B', '#FFD966', '#93C47D', '#76A5AF', '#6D9EEB', '#6FA8DC', '#8E7CC3'],
                    ['#CC0000', '#E69138', '#F1C232', '#6AA84F', '#45818E', '#3C78D8', '#3D85C6', '#674EA7'],
                    ['#990000', '#B45F06', '#BF9000', '#38761D', '#134F5C', '#1155CC', '#0B5394', '#351C75'],
                    ['#660000', '#783F04', '#7F6000', '#274E13', '#0C343D', '#1C4587', '#073763', '#20124D']
                ] // Custom color palette
            });
        });
    </script>

    <script type="text/javascript">
        // Function to quickly fill the form with sample data
        document.getElementById('btnQuickFill').addEventListener('click', function () {
            document.getElementById('ProductionOrderNumber').value = '10423454';
            document.getElementById('Description').value = "Vibrating Screen Model XYZ";
            document.getElementById('ProductionOrderNumber').value = "PO123456";
            document.getElementById('SerialNumber').value = "SN123456789";
            document.getElementById('Quantity').value = "10";
            document.getElementById('Size').value = "Large";
            document.getElementById('Class').value = "A";
            document.getElementById('SizeDeck').value = "10x5";
            document.getElementById('SalesOrderID').value = "SO987654";
            document.getElementById('Nameplate').value = "Standard";

            document.getElementById('Media').checked = true;
            document.getElementById('SpareParts').checked = true;
            document.getElementById('SparePMedia').checked = false;
            document.getElementById('Base').checked = true;
            document.getElementById('AirSeal').checked = false;
            document.getElementById('CoatingLining').checked = true;
            document.getElementById('Disassembly').checked = false;

            document.getElementById('BudgetedHours').value = "50";
            document.getElementById('ReworkHours').value = "10";
            document.getElementById('ActualAssemblyHours').value = "45";

            document.getElementById('PreOrder').value = "Pre-order details...";
            document.getElementById('Scope').value = "Scope of work for the machine.";
        });
    </script>

}
