@model haver.Models.Machine

<partial name="_ViewHeading" />

<div class="container my-3">
    <div class="card border-primary">
        <div class="card-header bg-primary text-white">
            <h4>Machine Details</h4>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>
            <dl class="row">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.SerialNumber)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.SerialNumber)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Quantity)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Quantity)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Size)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Size)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Class)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Class)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.SizeDeck)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.SizeDeck)</dd>
            </dl>
        </div>
        <div class="card-footer">
            <form asp-action="Delete" class="d-inline">
                <input type="hidden" asp-for="ID" />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <span class="mx-2">|</span>
            <partial name="_BackToList" />
        </div>
    </div>
</div>
