@model haver.Models.Machine

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionOrderNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionOrderNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RToShipExp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RToShipExp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RToShipA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RToShipA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Media)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Media)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpareParts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpareParts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SparePMedia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SparePMedia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Base)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Base)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirSeal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirSeal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoatingLining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoatingLining)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disassembly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disassembly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetedHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetedHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualAssemblyHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualAssemblyHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReworkHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReworkHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nameplate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nameplate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scope)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scope)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesOrder.OrderNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineType.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn" /> 
        <a asp-action="Index" class="btn btn-secondary"
           style="background-color:#6c757d; border-color:#6c757d; font-family: 'Avenir Heavy', sans-serif;">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to List
        </a>
    </form>
</div>
