@model haver.Models.Machine

<partial name="_ViewHeading" />

<h4>Machine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductionOrderNumber" class="control-label"></label>
                <input asp-for="ProductionOrderNumber" class="form-control" />
                <span asp-validation-for="ProductionOrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class" class="control-label"></label>
                <input asp-for="Class" class="form-control" />
                <span asp-validation-for="Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SizeDeck" class="control-label"></label>
                <input asp-for="SizeDeck" class="form-control" />
                <span asp-validation-for="SizeDeck" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Media" /> @Html.DisplayNameFor(model => model.Media)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SpareParts" /> @Html.DisplayNameFor(model => model.SpareParts)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SparePMedia" /> @Html.DisplayNameFor(model => model.SparePMedia)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Base" /> @Html.DisplayNameFor(model => model.Base)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AirSeal" /> @Html.DisplayNameFor(model => model.AirSeal)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CoatingLining" /> @Html.DisplayNameFor(model => model.CoatingLining)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Disassembly" /> @Html.DisplayNameFor(model => model.Disassembly)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="BudgetedHours" class="control-label"></label>
                <input asp-for="BudgetedHours" class="form-control" />
                <span asp-validation-for="BudgetedHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualAssemblyHours" class="control-label"></label>
                <input asp-for="ActualAssemblyHours" class="form-control" />
                <span asp-validation-for="ActualAssemblyHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReworkHours" class="control-label"></label>
                <input asp-for="ReworkHours" class="form-control" />
                <span asp-validation-for="ReworkHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nameplate" class="control-label"></label>
                <select asp-for="Nameplate" class="form-control"
                        asp-items="Html.GetEnumSelectList<NamePlate>()"></select>
                <span asp-validation-for="Nameplate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreOrder" class="control-label"></label>
                <input asp-for="PreOrder" class="form-control" />
                <span asp-validation-for="PreOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scope" class="control-label"></label>
                <input asp-for="Scope" class="form-control" />
                <span asp-validation-for="Scope" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesOrderID" class="control-label"></label>
                <select asp-for="SalesOrderID" class="form-control" asp-items="ViewBag.SalesOrderID"></select>
                <span asp-validation-for="SalesOrderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <partial name="_BackToList" />
</div>

