@model haver.Models.Customer

<div class="container-fluid bg-light">
    <!-- Header -->
    <div class="row">
        <div class="col-md-12 py-4" style="background-color:#0C2340;">
            <h4 class="text-white" style="font-family: 'Avenir Heavy', sans-serif; font-size: 19px;">
                Customer Details
            </h4>
        </div>
    </div>

    <!-- Details Content -->
    <div class="row py-4">
        <div class="col-md-8 offset-md-2">
            <div class="card border shadow-sm">
                <div class="card-body p-4">
                    <dl class="row mb-0">
                        <!-- Summary -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.Summary)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.Summary)
                        </dd>

                        <!-- Date -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.Date)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.DateSummary)
                        </dd>

                        <!-- Phone -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.Phone)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.PhoneFormatted)
                        </dd>

                        <!-- Company Name -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.CompanyName)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.CompanyName)
                        </dd>
                    </dl>
                </div>
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-primary mx-3"
                            style="background-color:#0C2340; border-color:#0C2340; font-family: 'Avenir Heavy', sans-serif;">
                        Edit
                    </a>
                </div>
            </div>

            <!-- Action Buttons -->
            <div class="mt-4 d-flex gap-3">
               
                <div style="font-family: 'Avenir Roman', sans-serif;">
                    <partial name="_BackToList" />
                </div>
            </div>
        </div>
    </div>
</div>