@model haver.Models.Machine


<div class="info-container">
    <div class="info-box">
        <dl class="row">
            <dt class="col-md-3">@Html.DisplayNameFor(model => Model.MachineType)</dt>
            <dd class="col-md-3">@Html.DisplayFor(model => Model.MachineType.Description)</dd>

            <dt class="col-md-3">@Html.DisplayNameFor(model => Model.SerialNumber)</dt>
            <dd class="col-md-3">@Html.DisplayFor(model => Model.SerialNumber)</dd>

            <dt class="col-md-3">@Html.DisplayNameFor(model => Model.ProductionOrderNumber)</dt>
            <dd class="col-md-3">@Html.DisplayFor(model => Model.ProductionOrderNumber)</dd>

            <dt class="col-md-3">@Html.DisplayNameFor(model => Model.RToShipExp)</dt>
            <dd class="col-md-3">@Html.DisplayFor(model => Model.RToShipExp)</dd>

            <dt class="col-md-3">@Html.DisplayNameFor(model => Model.RToShipA)</dt>
            <dd class="col-md-3">@Html.DisplayFor(model => Model.RToShipA)</dd>

            <dt class="col-md-3">@Html.DisplayNameFor(model => Model.BudgetedHours)</dt>
            <dd class="col-md-3">@Html.DisplayFor(model => Model.BudgetedHours)</dd>

            <dt class="col-md-3">@Html.DisplayNameFor(model => Model.ActualAssemblyHours)</dt>
            <dd class="col-md-3">@Html.DisplayFor(model => Model.ActualAssemblyHours)</dd>

            <dt class="col-md-3">@Html.DisplayNameFor(model => Model.ReworkHours)</dt>
            <dd class="col-md-3">@Html.DisplayFor(model => Model.ReworkHours)</dd>

            <dt class="col-md-3">@Html.DisplayNameFor(model => Model.Nameplate)</dt>
            <dd class="col-md-3">@Html.DisplayFor(model => Model.Nameplate)</dd>

            <dt class="col-md-3">@Html.DisplayNameFor(model => Model.PreOrder)</dt>
            <dd class="col-md-3">@Html.DisplayFor(model => Model.PreOrder)</dd>

            <dt class="col-md-3">@Html.DisplayNameFor(model => Model.Scope)</dt>
            <dd class="col-md-3">@Html.DisplayFor(model => Model.Scope)</dd>
        </dl>
    </div>

    <div class="info-box">
        <dl class="row">

            <dt class="col-md-3">@Html.DisplayNameFor(model => Model.Media)</dt>
            <dd class="col-md-3">@Html.DisplayFor(model => Model.Media)</dd>

            <dt class="col-md-3">@Html.DisplayNameFor(model => Model.SpareParts)</dt>
            <dd class="col-md-3">@Html.DisplayFor(model => Model.SpareParts)</dd>

            <dt class="col-md-3">@Html.DisplayNameFor(model => Model.SparePMedia)</dt>
            <dd class="col-md-3">@Html.DisplayFor(model => Model.SparePMedia)</dd>

            <dt class="col-md-3">@Html.DisplayNameFor(model => Model.CoatingLining)</dt>
            <dd class="col-md-3">@Html.DisplayFor(model => Model.CoatingLining)</dd>

            <dt class="col-md-3">@Html.DisplayNameFor(model => Model.Base)</dt>
            <dd class="col-md-3">@Html.DisplayFor(model => Model.Base)</dd>

            <dt class="col-md-3">@Html.DisplayNameFor(model => Model.AirSeal)</dt>
            <dd class="col-md-3">@Html.DisplayFor(model => Model.AirSeal)</dd>

            <dt class="col-md-3">@Html.DisplayNameFor(model => Model.Disassembly)</dt>
            <dd class="col-md-3">@Html.DisplayFor(model => Model.Disassembly)</dd>

            <dt class="col-md-3">@Html.DisplayNameFor(model => Model.SalesOrder)</dt>
            <dd class="col-md-3">@Html.DisplayFor(model => Model.SalesOrder.OrderNumber)</dd>
        
        </dl>
    </div>
    </div>

  