@model haver.Models.Procurement

@{
    ViewData["Title"] = "Add Procurement";
}

<div class="container-fluid bg-light">
    <!-- Header -->
    <div class="row">
        <div class="col-md-12 py-4" style="background-color:#0C2340;">
            <h4 class="text-white" style="font-family: 'Avenir Heavy', sans-serif; font-size: 19px;">
                Add Procurement Information for Machine: @ViewData["SerialNumber"]
            </h4>
        </div>
    </div>

    <!-- Centered Form -->
    <div class="row py-4">
        <div class="col-md-8 offset-md-2">
            <form asp-action="Add" class="border p-4 shadow-sm" aria-label="Add Procurement">
                <input type="hidden" name="MachineID" value="@Model.MachineID" />
                <input type="hidden" name="SerialNumber" value="@ViewData["SerialNumber"]" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- Vendor & PO Number (Same Row) -->
                <div class="form-group mb-3 row">
                    <div class="col-md-6">
                        <label asp-for="VendorID" class="control-label"
                               style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                            Vendor
                            <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Select the vendor for this procurement."></i>
                        </label>
                        <select asp-for="VendorID" class="form-control" asp-items="ViewBag.VendorID"
                                style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;">
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="PONumber" class="control-label"
                               style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                            PO Number
                            <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Enter the Purchase Order Number."></i>
                        </label>
                        <input asp-for="PONumber" class="form-control"
                               style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;"
                               placeholder="Enter PO Number" />
                        <span asp-validation-for="PONumber" class="text-danger"></span>
                    </div>
                </div>

                <!-- Expected Due Date & Delivery Date (Same Row) -->
                <div class="form-group mb-3 row">
                    <div class="col-md-6">
                        <label asp-for="ExpDueDate" class="control-label"
                               style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                            Expected Due Date
                            <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Enter the expected due date for the procurement."></i>
                        </label>
                        <input asp-for="ExpDueDate" type="date" class="form-control"
                               style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;" />
                        <span asp-validation-for="ExpDueDate" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="PODueDate" class="control-label"
                               style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                           PO Due Date
                            <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Enter the PO due date for the procurement."></i>
                        </label>
                        <input asp-for="PODueDate" type="date" class="form-control"
                               style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;" />
                        <span asp-validation-for="PODueDate" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="PORcd" class="control-label"
                               style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                            PO Received Date
                            <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Enter the PO Received date for the procurement."></i>
                        </label>
                        <input asp-for="PORcd" type="date" class="form-control"
                               style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;" />
                        <span asp-validation-for="PORcd" class="text-danger"></span>
                    </div>

                   
                </div>


                <div class="form-group mb-3 row">
                    <div class="col-md-6">
                        <label asp-for="QualityICom" class="control-label"
                               style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                           Quality Is Completed
                            <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Check if Quality is Completed"></i>
                        </label>
                        <input class="form-check-input" asp-for="QualityICom" /> @Html.DisplayNameFor(model => model.QualityICom)
                    </div>

                    <div class="col-md-6">
                        <label asp-for="NcrRaised" class="control-label"
                               style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                            Is NCR Raised
                            <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Check if NCR is Raised"></i>
                        </label>
                        <input class="form-check-input" asp-for="NcrRaised" /> @Html.DisplayNameFor(model => model.NcrRaised)
                    </div>


                </div>

                <!-- Submit Button -->
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary"
                            style="background-color:#0C2340; border-color:#0C2340; font-family: 'Avenir Heavy', sans-serif;">
                        Create Procurement
                    </button>
                    <partial name="_BackToList" />
                </div>

                <div class="d-flex flex-column align-items-start gap-2">
                   
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        });

        function goBack() {
            window.history.back();
        }
    </script>
}
