@model haver.Models.MachineSchedule

<partial name="_ViewHeading" />

<div class="container-fluid bg-light my-3">
    <!-- Header -->
    <div class="row">
        <div class="col-md-12 py-4" style="background-color:#0C2340;">
            <h4 class="text-white" style="font-family: 'Avenir Heavy', sans-serif; font-size: 19px;">
                MachineSchedule Details
            </h4>
        </div>
    </div>

    <!-- Details Content -->
    <div class="row py-4">
        <div class="col-md-8 offset-md-2">
            <div class="card border shadow-sm">
                <div class="card-body p-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

                    <dl class="row mb-0">
                        <!-- Start Date -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.StartDate)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.StartDate)
                        </dd>

                        <!-- Due Date -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.DueDate)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.DueDate)
                        </dd>

                        <!-- End Date -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.EndDate)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.EndDate)
                        </dd>

                        <!-- Package Release Date -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.PackageRDate)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.PackageRDate)
                        </dd>

                        <!-- PO Due Date -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.PODueDate)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.PODueDate)
                        </dd>

                        <!-- Delivery Date -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.DeliveryDate)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.DeliveryDate)
                        </dd>

                        <!-- Media -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.Media)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.Media)
                        </dd>

                        <!-- Spare Parts -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.SpareParts)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.SpareParts)
                        </dd>

                        <!-- Spare Parts Media -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.SparePMedia)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.SparePMedia)
                        </dd>

                        <!-- Base -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.Base)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.Base)
                        </dd>

                        <!-- Air Seal -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.AirSeal)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.AirSeal)
                        </dd>

                        <!-- Coating/Lining -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.CoatingLining)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.CoatingLining)
                        </dd>

                        <!-- Dissembly -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.Dissembly)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.Dissembly)
                        </dd>

                        <!-- Machine -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.Machine)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @Html.DisplayFor(model => model.Machine.Class)
                        </dd>

                        <!-- Machine Schedule Engineers -->
                        <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.MachineScheduleEngineers)
                        </dt>
                        <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @{
                                int specCount = Model.MachineScheduleEngineers.Count;
                                if (specCount > 0)
                                {
                                    string firstSpec = Model.MachineScheduleEngineers.FirstOrDefault().Engineer.EngineerInitials;
                                    if (specCount > 1)
                                    {
                                        string specList = "";
                                        var s = Model.MachineScheduleEngineers.ToList();
                                        for (int i = 1; i < specCount; i++)
                                        {
                                            specList += s[i].Engineer.EngineerInitials + " <br />";
                                        }
                                        <a data-bs-toggle="collapse" href="#collapseSpecalty@(Model.ID)" aria-expanded="false" aria-controls="collapseSpecalty@(Model.ID)">
                                            @firstSpec <span class="badge bg-info">@specCount</span>
                                        </a>
                                        <div class="collapse" id="collapseSpecalty@(Model.ID)">
                                            @Html.Raw(specList)
                                        </div>
                                    }
                                    else
                                    {
                                        @firstSpec
                                    }
                                }
                            }
                        </dd>

                        <!-- Sales Orders -->
                        <dt class="col-sm-2" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                            @Html.DisplayNameFor(model => model.SalesOrders)
                        </dt>
                        <dd class="col-sm-10 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                            @{
                                int spedCount = Model.SalesOrders.Count;
                                if (spedCount > 0)
                                {
                                    string firstSpec = Model.SalesOrders.FirstOrDefault().OrderNumber;
                                    if (spedCount > 1)
                                    {
                                        string specList = "";
                                        var s = Model.SalesOrders.ToList();
                                        for (int i = 1; i < spedCount; i++)
                                        {
                                            specList += s[i].OrderNumber + " <br />";
                                        }
                                        <a class="" role="button" data-bs-toggle="collapse" href="#collapseSpcalty@(Model.ID)"
                                           aria-expanded="false" aria-controls="collapseSecalty@(Model.ID)">
                                            @firstSpec <span class="badge bg-info">@spedCount</span>
                                        </a>
                                        <div class="collapse" id="collapseSpcalty@(Model.ID)">
                                            @Html.Raw(specList)
                                        </div>
                                    }
                                    else
                                    {
                                        @firstSpec
                                    }
                                }
                            }
                        </dd>


                    </dl>
                
                    <!-- Notes Section -->
                    <h5 class="mt-4" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">Comments / Notes</h5>
                    @if (Model.Note != null)
                    {
                        <dl class="row">
                            <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                                @Html.DisplayNameFor(model => model.Note.PreOrder)
                            </dt>
                            <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                                @Html.Raw(Model.Note.PreOrder)
                            </dd>

                            <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                                @Html.DisplayNameFor(model => model.Note.Scope)
                            </dt>
                            <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                                @Html.Raw(Model.Note.Scope)
                            </dd>

                            <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                                @Html.DisplayNameFor(model => model.Note.AssemblyHours)
                            </dt>
                            <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                                @Html.DisplayFor(model => model.Note.AssemblyHours)
                            </dd>

                            <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                                @Html.DisplayNameFor(model => model.Note.ReworkHours)
                            </dt>
                            <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                                @Html.DisplayFor(model => model.Note.ReworkHours)
                            </dd>

                            <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                                @Html.DisplayNameFor(model => model.Note.BudgetHours)
                            </dt>
                            <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                                @Html.DisplayFor(model => model.Note.BudgetHours)
                            </dd>
                        </dl>
                    }
                    else
                    {
                        <p style="font-family: 'Avenir Roman', sans-serif;">No notes available for this schedule.</p>
                    }


                    <!-- Package Release Section -->
                    <h5 class="mt-4" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">Package Release Information</h5>
                    @if (Model.PackageRelease != null)
                    {
                        <dl class="row">
                            <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                                @Html.DisplayNameFor(model => model.PackageRelease.Name)
                            </dt>
                            <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                                @Html.DisplayFor(model => model.PackageRelease.Name)
                            </dd>

                            <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                                @Html.DisplayNameFor(model => model.PackageRelease.PReleaseDateP)
                            </dt>
                            <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                                @Html.DisplayFor(model => model.PackageRelease.PReleaseDateP)
                            </dd>

                            <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                                @Html.DisplayNameFor(model => model.PackageRelease.PReleaseDateA)
                            </dt>
                            <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                                @Html.DisplayFor(model => model.PackageRelease.PReleaseDateA)
                            </dd>

                            <dt class="col-sm-3" style="font-family: 'Avenir Heavy', sans-serif; color: #0C2340;">
                                @Html.DisplayNameFor(model => model.PackageRelease.Notes)
                            </dt>
                            <dd class="col-sm-9 mb-3" style="font-family: 'Avenir Roman', sans-serif;">
                                @Html.Raw(Model.PackageRelease.Notes)
                            </dd>
                        </dl>
                    }
                    else
                    {
                        <p style="font-family: 'Avenir Roman', sans-serif;">No Package Release Information available for this schedule.</p>
                    }

                    <!-- Delete Button -->
                    <form asp-action="Delete" class="d-inline mt-4">
                        <input type="hidden" asp-for="ID" />
                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>
                    </form>
                </div>
            </div>

            <!-- Back to List Link -->
            <div class="mt-4 d-flex gap-3">
                <div style="font-family: 'Avenir Roman', sans-serif;">
                    <partial name="_BackToList" />
                </div>
            </div>
        </div>
    </div>
</div>